@model web_loja_dal.PRODUTO

@{
    ViewBag.Title = "Produto";
}

<form method="post">
    <h2>Cadastro de Produto</h2>
    <p>
        <label for="nome">Nome do produto: </label><br>
        @Html.TextBoxFor(m => m.nome, new { @class = "form-control" })
    </p>
    <p>
        <label for="marca">Marca: </label><br>
        @Html.TextBoxFor(m => m.marca, new { @class = "form-control" })
    </p>
    <p>
        <label for="valor">Valor Unitário: </label><br>
        @Html.TextBoxFor(m => m.valor, new { @class = "form-control" })
    </p>
    <p>
        <label for="qtde">Quantidade em Estoque: </label><br>
        @Html.TextBoxFor(m => m.quantidade, new { @class = "form-control" })
    </p>
    <p>
        <label for="ativo">Item Ativo: </label>
        @Html.CheckBoxFor(m => m.ativo, new { @class = "form-check-input" })
    </p>
    <button type="submit" class="btn btn-success">Cadastrar!</button>
</form>

