@model web_loja_dal.Models.PRODUTO

<div>
    <h4>PRODUTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MARCA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MARCA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VALOR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALOR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QUANTIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QUANTIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATIVO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATIVO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_CRIACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_CRIACAO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DATA_ATUALIZACAO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DATA_ATUALIZACAO)
        </dd>

    </dl>
</div>